@import "../../App.css";
.detail-container {
  background: white;
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 20px grey;
  width: 50%;
  padding: 1rem;
}

.detail-container img {
  max-width: 100% !important;
  height: 15rem;
}

@media (max-width: 1000px) {
  .detail-container {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .detail-container {
    width: 90%;
  }
}

.count {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  background-color: aliceblue;
  width: 10rem;
  border-radius: 5px;
  border: solid 1px grey;
}
.count p {
  font-size: 2rem;
  margin: 0;
  cursor: default;
  color: var(--clr-sec);
}
.count button {
  width: 2rem;
  border: transparent;
  font-size: 2rem;
  background: transparent;
  border-radius: 10px;
}
.count button:hover {
  color: var(--clr-3);
}
.addtocart {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: solid 1px grey;
  border-radius: 0.5rem;
  /* box-shadow: 1px 1px 2px black; */
  margin-bottom: 2rem;
  transition: var(--transition);
}
.addtocart:hover {
  background-color: var(--clr-sec);
  color: var(--clr-bg);
}
