@import "../../App.css";

.item-container {
  width: 90vw;
  margin: auto;
  border-radius: 1%;
  margin-top: 1rem;
  padding-top: 1rem;
}
.item-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-shadow: var(--light-shadow);
  border-radius: 10px;
  background-color: var(--clr-bg-light);
}

.item {
  flex: 1 1 0px;
  background-color: white;
  border: solid 0.015rem var(--clr-bg);
  border-radius: 10px 10px 0 0;
  padding: 20px;
  max-width: 25rem;
  transition: var(--transition);
  position: relative;
  min-width: 20rem;
  min-height: 30rem;
}

.item img {
  display: block;
  margin: 1rem auto 2rem;
  height: 15rem;
  max-width: 100%;
  border-radius: 5%;
}
.item-btn {
  margin-top: 1rem;
  font-size: 1.3rem;
  position: absolute;
  bottom: 2rem;
  left: 35%;
}

.item-btn:hover {
  color: black;
  transition: var(--transition);
}

.loading {
  transition: var(--transition);
  transform: rotate(180deg);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
