@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --clr-bg: #f0eff4;
  --clr-bg-light: #fafafb;
  --clr-nb: #da4167;
  --clr-sec: #3d2645;
  --clr-3: #832161;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --light-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0px 1px 15px #3d2645;
  --max-width: 1170px;
  --fixed-width: 620px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-bg);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-align: center;
}
a {
  text-decoration: none;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-sec);
}

.btn-back {
  background: hsl(205, 78%, 60%);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: white;
  letter-spacing: 0.1rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
}



footer {
  background-color: var(--clr-sec);

  margin-top: 3rem;
  padding: 2rem;
}
footer p {
  font-size: 0.75rem;
  text-align: center;
  color: white;
}
